@model IEnumerable<AppAB.products>

<h2>@ViewBag.Title</h2>

<p>
    @if (ViewBag.Title == "Parfumi")
    {
        @Html.ActionLink("Dodaj nov parfum", "Create", new { subcategory = "parfumi" })
    }
    else if (ViewBag.Title == "Izdelki za nego telesa")
    {
        @Html.ActionLink("Dodaj nov izdelek", "Create", new { subcategory = "nega" })
    }
    else if (ViewBag.Title == "Izdelki za nego nohtov")
    {
        @Html.ActionLink("Dodaj nov izdelek", "Create", new { subcategory = "nohti" })
    }
    else if (ViewBag.Title == "Makeup")
    {
        @Html.ActionLink("Dodaj nov izdelek", "Create", new { subcategory = "make_up" })
    }
</p>
<hr />
<div class="row">
    <div id="leftSide" class="col-sm-3 col-md-2">
        <ul>
            @foreach (var cat in ViewBag.listCategories)
            {
                <li>@Html.ActionLink((String)cat.name, (string)ViewBag.action, new { filterCategory = (String)cat.name }, new { @class = "filterLink" })</li>
            }            
        </ul>
    </div>
    <div id="rightSide" class="col-sm-offset-3 col-md-offset-2">
    @foreach (var item in Model)
    {
        <div class="col-sm-3 col-md-2">
            <div class="thumbnail">
                <img src="~/Content/Images/sample.jpg" alt="Slika">
                <div class="caption">
                    <h4 style="max-height: 37px; overflow: hidden;">@Html.DisplayFor(modelItem => item.name)</h4>
                    <p style="max-height: 37px; overflow: hidden;">@Html.DisplayFor(modelItem => item.description)</p>
                    <p>@Html.DisplayFor(modelItem => item.price) €</p>
                    <p>@Html.ActionLink("Uredi", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Več", "Details", new { id = item.id }) |
                    @Html.ActionLink("Izbriši", "Delete", new { id = item.id })
                    </p>
                </div>
            </div>
        </div>
    }
    </div>
</div>