@model IEnumerable<AppAB.products>

<h2>@ViewBag.Title</h2>

@if (Request.IsAuthenticated && User.IsInRole("admin"))
{
    <p>
        @if (ViewBag.Title == "Parfumi")
        {
            @Html.ActionLink("Dodaj nov parfum", "Create", new { subcategory = "parfumi" })
        }
        else if (ViewBag.Title == "Izdelki za nego telesa")
        {
            @Html.ActionLink("Dodaj nov izdelek", "Create", new { subcategory = "nega" })
        }
        else if (ViewBag.Title == "Izdelki za nego nohtov")
        {
            @Html.ActionLink("Dodaj nov izdelek", "Create", new { subcategory = "nohti" })
        }
        else if (ViewBag.Title == "Makeup")
        {
            @Html.ActionLink("Dodaj nov izdelek", "Create", new { subcategory = "make_up" })
        }
    </p>
}
<hr />
<div class="row">
    <div id="leftSide" class="col-sm-3 col-md-2">
        <ul>
            @foreach (var cat in ViewBag.listCategories)
            {
                <li class="@((Request.QueryString["filterCategory"]!=null && Request.QueryString["filterCategory"] == (string)cat.name) ? "active" : "")">@Html.ActionLink((string)cat.name, (string)ViewBag.action, new { filterCategory = (string)cat.name }, new { @class = "filterLink" })</li>
            }            
        </ul>
    </div>
    <div id="rightSide" class="col-sm-offset-3 col-md-offset-2">
    @foreach (var item in Model)
    {
        <div class="col-sm-3 col-md-2">
            <div class="thumbnail">
                <img src="~/Content/Images/sample.jpg" alt="Slika">
                <div class="caption">
                    <h4 style="max-height: 37px; overflow: hidden;">@Html.ActionLink((string)item.name, "Details", new { id = item.id })</h4>
                    <p style="max-height: 37px; overflow: hidden;">@Html.DisplayFor(modelItem => item.description)</p>
                    <p>@Html.DisplayFor(modelItem => item.price) €</p>
                    <form method="post" action="@Url.Action("AddToOrder", "Orders", new { productId = item.id })">
                        <input type="submit" class="btn btn-default" value="V košarico" />
                    </form>
                    @if (Request.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <p>
                            @Html.ActionLink("Uredi", "Edit", new { id = item.id }) |
                            @Html.ActionLink("Izbriši", "Delete", new { id = item.id })
                        </p>
                    }
                </div>
            </div>
        </div>
    }
    </div>
</div>