@model AppAB.Models.OrderViewModel

<h2>@ViewBag.Title</h2>

<hr />

@if (Model != null)
{
    <div>        
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.orderTotal)
            </dt>

            <dd id="cart-total">
                @Html.DisplayFor(model => model.orderTotal) €
            </dd>
        </dl>
        <div id="update-message"></div>
        <hr />
        @foreach (order_items item in Model.items)
        {
            <dl class="dl-horizontal" id="row-@item.id">
                <dt>@Html.DisplayNameFor(modelItem => item.products.name)</dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.products.name)
                </dd>
                <dt>@Html.DisplayNameFor(modelItem => item.products.product_brands.name)</dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.products.product_brands.name)
                </dd>
                <dt>@Html.DisplayNameFor(modelItem => item.products.price)</dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.products.price) €
                </dd>
                <dt>@Html.DisplayNameFor(modelItem => item.Quantity)</dt>
                <dd id="item-count-@item.id">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </dd>
                <dt></dt>
                <dd><a href="#" class="removeLink" data-id="@item.id">Odstrani</a></dd>
            </dl>
        }
    </div>
}
else
{
    <p>Vaša košarica je prazna.</p>
}