@model IEnumerable<AppAB.Models.OrdersListViewModel>

@{
    ViewBag.Title = "Seznam";
}

<h2>Seznam naročil</h2>
<hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numberOfItems)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numberOfItems)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_price) €
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
